@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Poppins", serif;
  color: var(--dark-color);
}

:root {
  --primary-color: #e02c6d;
  --secondary-color: #333;
  --dark-color: #3a3a3a;
  --light-color: #ffffff;
}

button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}

nav,
header,
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  margin-bottom: 20px;
}
nav {
  margin-top: 20px;
  gap: 20px;
}
header {
  gap: 40px;
}

nav h1 {
  font-size: 1.5rem;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}
nav a:hover {
  color: var(--primary-color);
}
.left-head h1 {
  font-size: 3.5rem;
  color: var(--dark-color);
  margin-bottom: 10px;
}
.left-head p {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  text-align: justify;
}
.left-head i {
  color: #ffffff;
}
button {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 12px 30px;
  border-radius: 100px;
  font-size: 1.1rem;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: gap 0.5s ease-out 0s;
}
button:hover {
  background-color: #d54202;
  gap: 25px;
}
.right-head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 450px;
  background-size: 440px;
}
main {
  flex-direction: column;
}
main hr {
  height: 1px;
}
section {
  display: flex;
}
.sponsor {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 60px;
  padding: 20px 0;
  /* gradient border */
  border-width: 2px 0px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.1),
      transparent
    )
    50% 1;
}
.sponsor img {
  height: 30px;
  filter: grayscale(1);
}
.sponsor img:hover {
  filter: grayscale(0);
}
.popular {
  flex-direction: column;
  margin-top: 60px;
  padding: 0 5rem;
}
.popular h2 {
  text-align: center;
}
.popular h4 {
  margin-top: 30px;
  text-align: right;
  color: var(--primary-color);
  cursor: pointer;
}
.popular i {
  color: var(--primary-color);
  padding-left: 10px;
}
.popular h4:hover {
  color: #d54202;
}
.popular-grid {
  margin-top: 30px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  padding: 20px;
  border-radius: 6px;
  box-shadow: -1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}
.card img {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 6px;
}
.card .title {
  font-size: 2rem;
  font-weight: 400;
}
.card .price {
  font-size: 1.5rem;
  font-weight: 300;
}
.card .description {
  text-align: justify;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  nav,
  header,
  main {
    padding: 1rem;
    flex-direction: column;
  }
  header {
    flex-direction: column-reverse;
  }
  .left-head {
    text-align: center;
  }

  .left-head h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .left-head p {
    font-size: 1rem;
  }
  button {
    padding: 10px 40px;
    font-size: 1rem;
    margin: 20px auto;
  }
  .right-head {
    height: 380px;
    width: 380px;
    background-size: 370px;
  }
  .right-head img {
    height: 370px;
    width: 370px;
  }
  .sponsor {
    gap: 30px;
  }

  .popular {
    padding: inherit;
  }

  .popular-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  nav,
  header,
  main {
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 10px;
  }
  nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
  }
  header {
    text-align: center;
    flex-direction: column-reverse;
  }
  .left-head h1 {
    font-size: 2rem;
    text-align: center;
  }
  .left-head p {
    font-size: 1rem;
  }
  button {
    padding: 10px 40px;
    font-size: 1rem;
    margin: 10px auto;
  }
  .right-head {
    height: 310px;
    width: 310px;
    background-size: 300px;
  }
  .right-head img {
    height: 300px;
    width: 300px;
  }
  .sponsor {
    gap: 20px;
  }
  .popular {
    padding: inherit;
  }
  .popular-grid {
    grid-template-columns: 1fr;
  }
}
